[build]
  command = "npm run build"
  publish = "dist"

[[redirects]]
  from = "/api/projects"
  to = "/.netlify/functions/projects"
  status = 200

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
